body {
  color: rgb(108,72,17);
}
.background {
  background-color: rgba(10,82,19,.9)
  /*background-image: url("https://cdn.itead.cc/media/wysiwyg/PCB/PCB_banner1.jpg");*/
  /*height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
h1{
  color: white;
}
.bio {
  background-color: rgba(0,0,0,0.7);
  width: 50%;
  font-style: italic;
}
.title {
  color: white;
  font-size: 1.5em;
}

ul ol {
  width: 45%;
  background-color: green;
}
li {
}

p {
  color: black;

}

.question {
  color: green;
  font-weight: bold;
}

.answer {
  color: blue;
}
